@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Feed Aggregator is a RSS reader.</h3>

<p>Bla bla bla</a></p>

<address>
    Your name<br />
    Twitter: <a href="http://twitter.com/myTwitterAccount">@@myTwitterAccount</a><br />
</address>
